  <div class="row">
    <div class="col-6 col-lg-3">
      <%= form_for(@task) do |f| %>
          <div>
            <%= f.label :title %>
            <%= f.text_field :title, class:'form-control'%>
            <%= f.label :details %>
            <%= f.text_field :details, class:'form-control'%>
            <%= f.label :completed %>
            <%= f.check_box :completed%>
          </div>
          <%= f.submit class: 'btn btn-primary mt-3' %>
      <% end %>
    </div>
  </div>